:root {
    --verde-cecytem: #008941;
    --verde-oscuro: #006B32;
    --gris-fondo: #F2F2F2;
    --blanco: #ffffff;
    --negro: #222222;
}
.encabezado {
    animation: aparecerDesdeArriba 1.2s ease-out;
}

@keyframes aparecerDesdeArriba {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contenido img {
    animation: zoomLogo 1.5s ease-in-out;
}

@keyframes zoomLogo {
    from {
        opacity: 0;
        transform: scale(0.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.texto {
    animation: aparecerTexto 1.3s ease-out;
}

@keyframes aparecerTexto {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contenido img {
    transition: transform 0.4s ease;
}

.contenido img:hover {
    transform: scale(1.05);
}

body {
    margin: 0;
    padding: 0;
    background: var(--gris-fondo);
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
    background: var(--verde-cecytem);
    padding: 25px;
    text-align: center;
    color: var(--blanco);
    font-size: 28px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
}


.contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.contenido img {
    width: 280px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.texto {
    max-width: 700px;
}

.texto h2 {
    color: var(--verde-oscuro);
    border-left: 6px solid var(--verde-cecytem);
    padding-left: 10px;
}

.texto p {
    color: var(--negro);
    font-size: 18px;
    line-height: 1.6;
}

.pie {
    margin-top: 40px;
    background: var(--verde-oscuro);
    color: var(--blanco);
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
